<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow"/>
    <sectionGroup name="browserstack">
      <sectionGroup name="capabilities">
        <section name="single" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </sectionGroup>

      <sectionGroup name="environments">
        <section name="chrome" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <section name="firefox" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <section name="safari" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <section name="ie" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </sectionGroup>

      <section name="settings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
  <appSettings>
    <add key="BaseUrl" value=""/>
    <add key="Browser" value="browserstack"/>
    <!--<add key="ConnString1" value="Server=das-test-evt-sql.database.windows.net,1433;Database=das-test-evt-db;User ID=evtadm-1620;Password=drAjeprUFUR5;Trusted_Connection=False;Pooling=False;Connect Timeout=30;MultipleActiveResultSets=True" />
    <add key="ConnString2" value="Server=das-test-eas-sql.database.windows.net;Initial Catalog=das-test-eas-acc-db;Persist Security Info=False;User ID=easdbtestadm@das-test-eas-sql;Password=K97MZ-snMtZQQ-ax;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" />
    <add key="ConnString3" value="Server=das-test-eas-sql.database.windows.net;Initial Catalog=das-test-eas-fin-db;Persist Security Info=False;User ID=easdbtestadm@das-test-eas-sql;Password=K97MZ-snMtZQQ-ax;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" />
    <add key="ConnString4" value="Server=das-test-data-sql.database.windows.net,1433;Initial Catalog=das-test-data-db;Persist Security Info=False;User ID=data-admn22;Password=bqMJ47TMXnBE;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" />-->
  </appSettings>
  <browserstack>
    <capabilities>
      <single>
        <add key="build" value="DFC-Test-Parallel-08/09" />
        <add key="name" value="single_test" />
        <add key="browserstack.debug" value="true" />
      </single>
    </capabilities>
    <environments>
      <chrome>
        <add key="os" value="Windows" />
        <add key="os_version" value="7" />
        <add key="browser" value="Chrome" />
        <add key="browser_version" value="60.0" />
        <add key="resolution" value="1024x768" />
      </chrome>
      <firefox>
        <add key="os" value="Windows" />
        <add key="os_version" value="7" />
        <add key="browser" value="Firefox" />
        <add key="browser_version" value="55.0 beta" />
        <add key="resolution" value="1024x768" />
      </firefox>
      <safari>
        <add key="os" value="OS X" />
        <add key="os_version" value="Sierra" />
        <add key="browser" value="Safari" />
        <add key="browser_version" value="10.0" />
        <add key="resolution" value="1920x1080" />
      </safari>
      <ie>
        <add key="os" value="Windows" />
        <add key="os_version" value="7" />
        <add key="browser" value="IE" />
        <add key="browser_version" value="11.0" />
        <add key="resolution" value="1366x768" />
      </ie>
    </environments>
    <settings>
      <add key="username" value="dhanpatil1" />
      <add key="key" value="thBG8p9HSYYfzmqLTvQx" />
      <add key="env" value="firefox" />
      <add key="server" value="hub-cloud.browserstack.com" />
    </settings>
  </browserstack>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
